/* --------------- */
*,
::after,
::before {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Space-Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

/* ---------  -------- */
:root {
  /* Colors */
    --red-first: #E00000;
	--red-second: #FE5858;
	--red-third: #FFD6D6;
	--black: #000;
	--blue-dark: #313144;
	--grey-dark: #C4C4C4;
	--grey-medium: #D8D8D8;
	--grey-light: #E5E5E5;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-46: 2.875rem;
  --fs-66: 4.125rem;
  --fs-72: 4.5rem;
  --fs-96: 6rem;
  /* Font Family */

}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: var(--poppins);
  color: var(--dark-blue);
}

h2 {
  font-size: var(--fs-66);
  font-weight: 400;
  font-style: italic;
}
h3 {
  font-weight: 400
}
ul {
  list-style: none;
}
body {
  font-family: "Space-Mono";
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}
.active {
  display: flex!important;
    -ms-overflow-style: none;
}

.center-btn {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.cta-btn {
  align-items: center;
	background-color: #b4b4b4;
	border: none;
	width: 300px;
	height: 40px;
	font-size: var(--fs-12);
	font-family: "Space-Mono";
	color: #000;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.3s linear;
}
.cta-btn:hover {
	transition: 0.3s linear;
	background-color: #141414;
	color: #F1F1F1;
}

/* --------------- MODALE ----------------- */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  margin: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  /* animation: fadeIn 1s; */
}
@keyframes fadeIn {
from {
  opacity:0;
}
to {
  opacity:1;
}
}
@keyframes fadeOut {
from {
  opacity:1;
}
to {
  opacity:0;
}
}
.fadeIn {
  animation: fadeIn 1s;
}
.fadeOut {
  animation: fadeOut 1s
}
/*-------------------------------------------------------------- Modal Content --------------------------------------------------------------*/
.modal-content {
  width: 597px;
  height: 85%;
  background-color: #fefefe;
  margin: auto;   
  z-index: 100;
  border: 5px solid #000000;
  overflow:hidden;
  position: relative;
  top: 10%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Formulaire de contact */
.contact1 {
  display: flex;
  justify-content: center;
}

.contact1_envoyer {
  display: flex;
  justify-content: center;
}

.wpcf7-form-control {
  background-color: #fff;

}

.wpcf7 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Message  */
/* Contact Form */
.wpcf7-form, .wpcf7-submit {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wpcf7-form label {
  color: black;
  text-transform: uppercase;
  font-family: "Poppins";
}

.wpcf7-form input, .wpcf7-form textarea {
  height: 40px;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  resize: none;
  margin: 5px 0 20px 0; 
  font-family: var(--poppins);
  padding: 6px;
}
.wpcf7-form textarea {
  height: 15vh;
}

.wpcf7-form-control.wpcf7-submit {
  align-items: center;
  background-color: #b4b4b4;
  border: none;
  width: 290px;
  height: 40px;
  font-size: var(--fs-12);
  font-family: "Space-Mono";
  color: #000;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s linear;
  transition: 0.3s linear;
}
.wpcf7-form-control.wpcf7-submit:hover {
  transition: 0.3s linear;
  background-color: #141414;
  color: #F1F1F1;  
}

.wpcf7-response-output {
  margin-top: 5px!important;
}

/* backround_contact */
.backround_contact {
  background: url(Contact.png)
}
@media (max-width: 920px) {
  .modal-content {
    width: 96%;
  }
  .wpcf7-form input{
    height: 25px;
  }
}

/* --------------- HEADER ----------------- */
/* On cache la barre pour la version desktop */
header {
  background-color: #F1F1F1;
  top: 0px;
  z-index: 30;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 14px 10px #00000008;
  
}

header .home-bar {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 30;
  height: 80px;
}

header .nav-toggler {
  position: absolute;
  z-index: 10;
  right: 30px;
  height: 20px;
  width: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: 0.2s linear;
}
header .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: black;
  transition: 0.25s ease-out, opacity 0.1s ease-out;
}
header .l1 {
  transform: translateY(-10px);
}
header .l3 {
  transform: translateY(10px);
}
header .nav-toggler.active .l1 {
  transform: translateY(0px) rotate(45deg);
}
header .nav-toggler.active .l2 {
  opacity: 0;
}
header .nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-45deg);
}

#header ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  padding-inline-start: 0;
}
#header ul li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

header nav ul a:hover {
  text-shadow: 0px 0px 1px black;
}

#header ul li a {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Space-Mono";
}

@media (max-width: 920px) {
	header {
    position: sticky;
		justify-content: flex-start;
	}
    #header ul li a {
        color:white;
        font-size: var(--fs-40);
        
    }
    #header ul li a:hover {
        text-shadow: 1px 1px 1px white;
    }
	.custom-logo-link {
		z-index: 30;
        margin-left: 4vw
	}
	header .home-bar {
		display: flex;
	}
	#header {
	  position: absolute;
	  z-index: 30;
	  top: 10vh;
	  background: var(--red-first);
	  gap: 10px;
	  width: 100%;
	  height:90vh;
	  overflow: hidden;
      display:none;
      justify-content: center;
	}
    
	#header ul {
		height: 100%;
		flex-direction: column;
		justify-content: center;
    gap: 20px;
	}
	
}
/* ------- FOOTER ------- */
.footer {
  margin-top: 8vh;
  border-top: 1px #000 solid;
  height: 40px;
}
.menu_footer {
  height: 100%;
}
.footer {
  min-height: 60px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.menu_footer a {
text-transform: uppercase;
color: var(--black)
}
.menu_footer a:hover {
font-weight: 600
}
@media (max-width: 920px) {
  .footer {
    display: flex;
		text-align: center;
    flex-direction: column;
    gap: 2vh
	}
}

/* ------------- HERO SECTION --------------- */

.hero  {
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 50px
}
.hero__banner {
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__banner--image {


  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__banner--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__banner--title {
position: absolute;
max-width: 95%;
max-height: 100%;
object-fit: cover;
}
/* ------------ GALERIE --------------- */
.galerie {
  width: 90%;
  margin: 0 auto;
}
/* ------------ FILTERS --------------- */

.galerie__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selector {
  width: 260px;
}

.galerie__filters .categories-formats {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.select2-container--default .select2-selection--single {
  display: flex!important;
  align-items: center!important;
  height: 50px!important;
  border-radius: 8px!important;
  background-color: #F1F1F1!important;
}

.select2-container {
  display: inline-block;
  height: 80px;
}

.select2-selection__rendered {
  font-family: "Poppins";
  text-transform: uppercase;
  font-weight: 400;

}
.select2-results__options {
  font-family: "Poppins";
}

.select2-results__option--highlighted {
  background-color:	var(--red-third)!important;
  color:#000!important
}

.select2-results__option--selected {
  background-color: var(--red-first)!important;
  color: white;
}
/*  */
.select2-dropdown {
  border: none!important;
}
/* fleche filtre au milieu */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50% !important;
}
.select2-results__options {
  background-color: #F1F1F1!important;
}

@media (max-width: 920px) {
  .galerie__filters {
    flex-direction: column;    
  }
  .galerie__filters .categories-formats {
    flex-direction: column;
    gap: 0
  }
}

/* --------- GALERIE PHOTOS -------- */
.galerie__photos {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
}

.galerie__photos--single {
  height: 50vh;
  width: 49%;
  position: relative;
  overflow: hidden;
}
.galerie__photos--single img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 920px) {
  .galerie__photos--single {
    width: 100%;
  }
  .select2-container {
    height: 90px;
  }
  
}

.fadedbox {
	z-index: 15;
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
  left: 0%;
	align-items: center;
	justify-content: center;
	color: white;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	background-color: rgba(0, 0, 0, 0.6);
}
.galerie__photos--single:hover .fadedbox {
    opacity: 1;
    visibility: visible;
}
.fadedbox__text {
  font-family: "Poppins";
}
.fadedbox__ref,
.fadedbox__cat {
	text-transform: uppercase;
	position: absolute;	
	right: 10px;
	bottom: 10px;
    font-size: var(--fs-16);
}
.fadedbox__ref {
  left: 10px;
}
.fadedbox__fullscreen {
position: absolute;
cursor: pointer;
border: none;
top:10px;
right: 10px;
}
.galerie__photos--single .icon  {
  width: 40px;
  height: 40px;
}
.fadedbox__eye {
	display: inline-block;
	width: 46px;
	height: 32px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	color: white;
	z-index: 20;
}
.fadedbox__eye img {
  transition: 0.5s linear;
}
.fadedbox__eye:hover img{
  transform: scale(1.3) ;
  transition: 0.5s linear ;
}

/* --------- LIGHTBOX ----------- */

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .9);
  z-index: 999;
  overflow: auto;
  display: none;
}

.lightbox__close {
  border: none;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 3%;
  right: 3%;
  cursor: pointer;
  z-index: 12;
}

.lightbox__nav {
  position: absolute;
  top:50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  color: white;
}

.lightbox__arrows {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lightbox__arrows p {
  text-transform: capitalize;
  color: white;
  font-size: var(--fs-16);
}
.lightbox__arrows.lightbox__next,
.lightbox__arrows.lightbox__prev {
  position: absolute;
}
.lightbox__arrows.lightbox__prev {
  left: 5%;
}
.lightbox__arrows.lightbox__next {
  right: 5%;
} 

.lightbox__arrows .fleche {
  margin-right: 1em;
  height: 0.1em;
  width: 1.5em;
  position: relative;
  background: white;
  transition: all 0.2s;
}
.lightbox__arrows .fleche.f2{
  margin-right: 2px;
  margin-left: 1em
}
.lightbox__arrows .fleche::before,
.lightbox__arrows .fleche::after {
content: "";
position: absolute;
right: 0;
top: 0;
background: white;
height: 0.1em;
width: 0.6em;
}

.lightbox__arrows .fleche::before {
  transform: rotate(45deg);
  transform-origin: right bottom;
}

.lightbox__arrows .fleche::after {
  transform: rotate(-45deg);
  transform-origin: right top;
}

.lightbox__arrows:hover .fleche {
  width: 3em;
}
.lightbox__arrows:hover p {
  font-weight: 600;
}

.lightbox__arrows .fleche.f1::before {
  transform: rotate(45deg);
  transform-origin: left top;
  left:0;
}
.lightbox__arrows .fleche.f1::after {
  transform: rotate(-45deg);
  transform-origin: left top;
  left: 0;
}


.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90vh;
  max-height: 90vh;
  margin: 0 auto;
  color: white;
}

.lightbox__image {
  max-width: 100%;
  height: auto;
}

.lightbox__refcat {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 20px 0
}
@media screen and (max-width: 1200px) {
  .lightbox__nav {
      display:none;
  }
  .lightbox__nav p {
      display: none;
  }
}

/* ------------------------ */